<div class="flex flex-col flex-auto w-full  h-fit overflow-y-visible">
  <div
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8"
  >
    <span class="text-lg font-medium">Người dùng</span>
  </div>
  <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
    <div class="flex flex-col">
      <div class="flex pl-6 pb-6 pt-6 justify-end">
        <div class="flex mr-3">
          <button mat-raised-button (click)="Close()">Close</button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            *ngIf="record.db.id == 0"
            (click)="Save()"
          >
            Save
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            *ngIf="record.db.id != 0"
            (click)="Edit()"
          >
            Edit
          </button>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên</mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Tên"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              placeholder="Số điện thoại"
              [(ngModel)]="record.db.ten_khoa"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="flex pl-6 pt-6 justify-end">
        <div class="flex mr-3">
          <button mat-raised-button (click)="Close()">Close</button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            *ngIf="record.db.id == 0"
            (click)="Save()"
          >
            Save
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            *ngIf="record.db.id != 0"
            (click)="Edit()"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
