<div class="flex w-full">
  <h1>Người dùng</h1>
</div>
<div class="flex flex-col">
  <div class="flex pl-6 pb-6 pt-6 justify-end">
    <div class="flex mr-3">
      <button mat-raised-button (click)="Close()">Close</button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="Save()">Save</button>
    </div>
  </div>
  <mat-card class="flex">
    <div class="flex">
      <div class="flex-1">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          style="width: 95%"
        >
          <mat-label>Tên</mat-label>
          <input
            matInput
            placeholder="Name"
            type="text"
            [(ngModel)]="user.name"
          />
        </mat-form-field>
      </div>
      <div class="flex-1">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          style="width: 95%"
        >
          <mat-label>Số điện thoại</mat-label>
          <input
            matInput
            placeholder="Phone"
            type="text"
            [(ngModel)]="user.pass"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="flex">
      <div class="flex-1">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          style="width: 95%"
        >
          <mat-label>Tên</mat-label>
          <input matInput placeholder="Tên" [(ngModel)]="user.name" />
        </mat-form-field>
      </div>
      <div class="flex-1">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          style="width: 95%"
        >
          <mat-label>Số điện thoại</mat-label>
          <input matInput placeholder="Số điện thoại" [(ngModel)]="user.pass" />
        </mat-form-field>
      </div>
    </div>
    <div class="flex">
      <div class="flex-1">
        <mat-form-field appearance="fill" style="width: 95%">
          <mat-label>Tên thành viên</mat-label>
          <mat-select  [(ngModel)]="user.id_value" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-1">
        <mat-form-field appearance="fill"  style="width: 95%">
          <mat-label>Toppings</mat-label>
          <mat-select [(ngModel)]="user.id_value2"   multiple>
            <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <div class="flex pl-6 pt-6 justify-end">
    <div class="flex mr-3">
      <button mat-raised-button (click)="Close()">Close</button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="Save()">Save</button>
    </div>
  </div>
</div>
