<!--
<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
                  Check all
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let item of list_role">
        <mat-checkbox
                      (ngModelChange)="updateAllComplete()">
          {{item}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section> -->
